# Azure
*.parameters.json
*.env

# Bicep
*.zip

# Visual Studio Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
*.log
npm-debug.log*
.npm

# .NET
bin/
obj/
*.user
*.suo
*.cache
publish/

# IDE
.idea/
.vs/
*.swp
*.swo
*~
